.banner{
    background-image: url(/public/images/bg.png);
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    margin: 180px 0;
    justify-content: space-between;
    align-items: center;
    
}
.banner-content{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px 0;
    row-gap: 15px;
}
.title{
    font-size: 28px;
}

.banner-content > span{
    font-size: 14px;
    width: 80%;
}
.search{
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: left;
    column-gap: 30px;
    align-items: center;
}
.search > span{
    display: flex;
    align-items: center;
}
.search > span > input{
    border: none;
    color: #f1f1f1;
    padding: 5px;
    outline: none;
    font-size: 16px;
    background-color: #056937;
}
.search button{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 96px;
    color: white;
    background-color: green;
    font-size: 16px;
}
.ustunlik{
    margin: 100px 0;
    width: 100%;
    height: 280px;
    background-color: green;
    border-radius: 22px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}
.card > span{
    width: 100px;
    height: 80px;
    border: none;
    border-radius: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}
.card-content{
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 14px;
}
@media screen and (max-width: 1265px) {
    .ustunlik{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }
    .card{
        justify-content: center;
    }
}
@media screen and (max-width: 1150px)  {
    .banner-img{
        width: auto;
        height: auto;
    }
    .banner-img img{
       width: 450px;
       height: 300px;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 20px 0;
        row-gap: 15px;
    }
    .title{
        font-size: 22px;
    }
}
@media screen and (max-width: 920px)  {
         .banner{
            padding: 10px 20px;
            flex-direction: column;
            margin: 160px 0;
         }
         .banner-content{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 20px 0;
        row-gap: 15px;
    }
    .card{
        column-gap: 50px;
    }
    .ustunlik{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        row-gap: 30px;
    }
}
@media screen and (max-width: 490px) {
    .card{
        flex-direction: column;
        align-items: center;
    }
    .card-content{
        align-items: center;
        row-gap: 10px;
    }
    .card-content > span{
        text-align: center;
        font-size: 12px;
    }
    .card-content > h1{
        padding: 10px 0;
        font-size: 18px;
    }
    .card >span > img{
        width: 40px;
        height: 40px;
    }
    .card > span{
        width: 80px;
        height: 60px;
        border: none;
        border-radius: 12px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(10px);
    }
}
@media screen and (max-width: 465px)  {
    .banner-content{
        padding: 10px 20px;
    }
    .title{
        font-size: 14px;
    }

    .banner-content > span{
        font-size: 12px;
        width: 60%;
    }
    .search{
        width: 360px;
        
    }
    .search button{
        width: 120px;
        height: 30px;
        border: none;
        border-radius: 96px;
        color: white;
       
        font-size: 12px;
    }
    .banner-img{
       display: none;
     }
}
@media screen and (max-width: 400px)  {
    .search{
        width: 320px;
        display: flex;
        column-gap: 5px;
    }
    .search > span > input{
        width: 120px;
        padding: 0 5px;
        font-size: 12px;
    }
    .search button{
        width:100px;
        height: 30px;
    }
}