.discount-container {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: hidden; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    column-gap: 50px;
    padding: 20px;
  }
  
  .discount-card,
  .form-box {
    width: 100%;
    max-width: 500px; /* Kartaning maksimal eni */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .discount-card p{
    z-index: 1;
    color: black;
  }
  
  .timer {
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
  }
  
  .discount-btn {
    margin-top: 20px;
  }
  
  .form-container {
    flex: 1;
  }
  
  .form-box input {
    width: 100%;
  }
  
  .form-box button {
    margin-top: 15px;
  }
  
 @media screen and (max-width: 722px) {
  .discount-container{
    flex-direction: column;
  }
 } 