.staff-swiper {
  width: 90%;
  margin: auto;
  text-align: center;
}

.staff-card {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 240px;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.staff-card h3, p{
  color: white;
  position: relative; /* Matnni yuzaga chiqarish uchun relative qilish */
  z-index: 1000; /* Matnni eng yuqori qatlamda qilish */
}

.staff-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  border-radius: 8px;
  margin-bottom: 10px;
  z-index: 10;
}

@media (max-width: 768px) {
  .staff-swiper {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .staff-card {
    width: 90%;
    margin: 0 auto;
  }
}
